/.mixin.out
/.vs
/asm
/backups
/discordsuite
/fonts
/journeymap
/local
/logs
/saves
/screenshots
/server-resource-packs
/shaderpacks
/snapshots-server
/texturepacks
/woot
/BotaniaVars.dat
/icon.png
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/options.txt
/optionsof.txt
/usercache.json
/usernamecache.json
/resourcepacks